{% extends "base.html" %}

{% block search_button %}
{% endblock %}

{% block header %}
<header style="display: flex; align-items: center; justify-content: center; padding: 20px; text-align: center;">
    <div style="display: flex; flex-direction: column; align-items: center;">
        <img src="{{ 'images/book-logo.png'|url }}" alt="Logo" style="height: 100px; width: auto; object-fit: contain;">
        <h1 style="margin: 0; line-height: 1.2; font-size: 16px;">
            2024 Newspeak House<br>
            Fellowship Candidates
        </h1>
    </div>
</header>
{% include "header.html" %}
{% endblock %}

{% block content %}
    <section class="container post">
        <article>
            {% if not page.is_homepage %}
                <header>
                    <h1 class="title" id="component-title">{{ page.title }}</h1>
                </header>
            {% endif %}
            {{ page.content }}
        </article>
    </section>
{% endblock %}

{% block footer %}
{% endblock %}

{% block preview %}
{% endblock %}